@import 'utils';
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:200,300,400,500,600,700,900&display=swap&subset=korean');

$main-color-1: #1A80D9;
$main-color-2: #30BFB1;
$main-color-3: #ABD948;
$main-color-4: #F2E750;
$main-color-5: #A67360;

* {
  font-family: 'Noto Serif KR', serif;
}

.SubjectCard {
  background-color: white;
  width: 280px;
  height: 280px;
  border-radius: 30px;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 5px 5px 0 rgba(4, 0, 0, 0.09);
  cursor: pointer;
  &-Title {
    color: $main-color-5;
    font-weight: bold;
    font-size: 30pt;
    text-align: center;
  }
}

.SubjectCard:active {
  background-color: $oc-gray-0;
}