@import 'utils';
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:200,300,400,500,600,700,900&display=swap&subset=korean');

$main-color-1: #1A80D9;
$main-color-2: #30BFB1;
$main-color-3: #ABD948;
$main-color-4: #F2E750;
$main-color-5: #A67360;

* {
  font-family: 'Noto Serif KR', serif;
}

.WriteBoard {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  &-Header {
    width: 100%;
    height: 7%;
    background: $main-color-2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .MdButton {
      cursor: pointer;
    }
    .draw {
      width: 15%;
      height: 100%;
      display: flex;
      flex-direction: row;
      .ColorPicker {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin-left: 5px;
        margin-right: 5px;
        input {
          border: 0;
          outline: none;
          margin: auto;
          cursor: pointer;
        }
        .color1 {
          width: 30px;
          height: 30px;
          background-color: #000000;
          border-radius: 15px;
          color: #000000
        }
        .color2 {
          width: 30px;
          height: 30px;
          background-color: #FF0000;
          border-radius: 15px;
          color: #FF0000;
        }
        .color3 {
          width: 30px;
          height: 30px;
          background-color: #5A5AFF;
          border-radius: 15px;
          color: #5A5AFF;
        }
        .color4 {
          width: 30px;
          height: 30px;
          background-color: #FFC81E;
          border-radius: 15px;
          color: #FFC81E;
        }
        .color5 {
          width: 30px;
          height: 30px;
          background-color: #FFFFFF;
          border-radius: 15px;
          color: #FFFFFF;
        }
      }
    }
  }
  &-Contents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}