.WriteBoard {
  width: 100vw;
  height: 100vh;

  &-header {
    width: 100%;
    height: 7%;
    background-color: #30BFB1;
    display: flex;
    justify-content: space-between;

    &-cancle {
      cursor: pointer;
      width: 44px;
      height: 44px;
      margin: 10px 10px;
    }

    &-bring {
      cursor: pointer;
      width: 44px;
      height: 44px;
      margin: 10px 5px;
    }

    &-tools {

      &-pen {
        cursor: pointer;
        width: 44px;
        height: 44px;
        margin: 10px 5px;
      }
      &-highlight {
        cursor: pointer;
        width: 44px;
        height: 44px;
        margin: 10px 5px;
      }
      &-eraser {
        cursor: pointer;
        width: 44px;
        height: 44px;
        margin: 10px 5px;
      }
      &-Color {
        display: inline-flex;
        margin-left: 20px;
        align-items: center;

        &-current {

          &-detail {
            cursor: pointer;
            width: 48px;
            height: 48px; 
            border: solid 3.5px white;
            border-radius: 10px 10px 10px 10px;
            background-color: black;
            margin: 5px 5px;
          }
        }
        &-black {
          cursor: pointer;
          width: 40px;
          height: 40px; 
          border-radius: 10px 10px 10px 10px;
          background-color: black;
          margin: 0px 3px;
        }
        &-red {
          cursor: pointer;
          width: 40px;
          height: 40px; 
          border-radius: 10px 10px 10px 10px;
          background-color: red;
          margin: 0px 3px;
        }
        &-blue {
          cursor: pointer;
          width: 40px;
          height: 40px; 
          border-radius: 10px 10px 10px 10px;
          background-color: blue;
          margin: 0px 3px;
        }
      }
    }
    &-save {
      cursor: pointer;
      width: 44px;
      height: 44px;
      margin: 10px 10px;
    }
  }

  &-contents {
    width: 100%;
    height: 92%;
    display: flex;

    &-box {
      width: 95%;
      height: 92%;
      background-color: white;
      border-radius: 40px 40px 40px 40px;
      margin: auto;
      display: inline-flex;
      

      &-textbook {
        width: 70%;
        height: 80%;
        margin: 70px 30px;
      }
      &-memo {
        border-left: #30BFB1 solid 5px;
        width: 40%;
        height: 90%;
        margin: 40px 15px;
        padding: 30px 30px;
        text-align: center;
        font-size: 2.5em;
        font-weight: bold;
        display: table;
        
        &-inner {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}